//
// 색상 변수 ****************************************************************************************************
//
$light-mode-background-color: #5383e8;
$dark-mode-background-color: #1c1c1f;
$header-background-color: #1c1c1f;
$header-hover-background-color: #424254;
$header-button-text-color: #9aa4af;
$header-border-color: #4171d6;
$menu-item-text-color: #b3cdff;
//
// 기본 스타일 ****************************************************************************************************
//
@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR.ttf') format('ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}
//
// 헤더 스타일 ****************************************************************************************************
//
.header-container {
  min-width: 1200px;
  width: 100%;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 15px;

  
  background-color: $header-background-color;
  
  }
  
.header-view {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
//
// 다크 모드 버튼 스타일 ****************************************************************************************************
//
.dark-mode-button-container {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  color: $header-button-text-color;
  &:hover {
      background-color: $header-hover-background-color;
      color: white;
  }
}
//
// Home.tsx ****************************************************************************************************
//
.home-container {
  height: calc(100vh - 50px); // 헤더 높이를 제외한 전체
  display: flex;
  flex-direction: column;

  background-color: #f0f0f0;
}

.outlet-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 15px;

}

//
// 메뉴 스타일 ****************************************************************************************************
//
.menu-container {
  min-width: 1200px;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  background-color: $light-mode-background-color;
  border-bottom: 1px solid #4171d6;

}

.menu-item-container {
  width: 1200px;
  height: 50px;

  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
}

.menu-item-view {
  display: flex;
  flex-direction: row;

  gap: 20px;

}

.menu-item {
  height: 100%;

  display: flex;
  align-items: center;

  text-decoration-line: none;
  font-size: 1rem;
  color: $menu-item-text-color;

  &:hover {
    color: white;
    border-bottom: 3px solid white;
  }
}

.menu-item-active {
  @extend .menu-item;

  color: white;
    border-bottom: 3px solid white;
}
//
// beer.tsx ****************************************************************************************************
//
.beer-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;


}

.beer-container2 {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;

  gap: 10px;

}

.loading-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.beer-item {
  width: 550px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  background-color: white;
  

  img {
    width: 100px;
    height: 100px;

    object-fit: contain;
  }
}

.beer-item-info {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
